div{
    width: 300px;
    height: 400px;
  float: left;
  margin: 10px;
  padding: 10px;
  display: grid;
  background-color: aqua;
  margin-left: 130px;   

  text-align: center;
}
div i{
    width: 100%;
  /*   margin-left: 100px; */
    margin-top: 100px;
    font-size: 100px;
   
  
}

