p{
    color: blue;
    background-color: aqua;
}
h1{
    color: blueviolet;
    background-color: black;
}
p1{
    color: rgb(152, 143, 143);
   background-color: black;
}
img{
    background-color: black;
}