div{
    width: 240px;
    height:240px;
    background-color: rgb(40, 233, 18);
    border: 5px solid blue;
}
.div1{
    margin-left: 240px;
    margin-top: -240px;
}
.div2{
    margin-left: 240px;
    margin-top: -240px;
}